{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Ufobal {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "dist/managestats.min.css" %}">

    <script src="{% static "dist/libs.min.js" %}"></script>
    <script src="{% static 'djng/js/django-angular.js' %}"></script>
    <script src="{% static "dist/managestats.min.js" %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>
    {% block extra_scripts %} {% endblock %}
</head>
<body>


<div class="row">

    {% if messages %}
        {% for message in messages %}
            <div data-alert class="alert-box text-center {{ message.tags }} {% if message.tags == "error" %}alert{% endif %}">
                {{ message }}
                <a href="#" class="close">&times;</a>
            </div>
        {% endfor %}
    {% endif %}

    {% block content %} {% endblock %}
</div>

<script>
  $(document).foundation();
</script>
</body>
</html>