{% extends "managestats/base.html" %}


{% block content %}
    <style>
    .mujPanel{
        background-color: white;
    }
    </style>

    {% if team %}
        <h1>{{ team }}</h1>
    {% endif %}

    {% for player in players %}
        <div class="panel radius mujPanel">
            <img style="width:150px;" class="right" src="{{ player.qr }}">
            <h3 class="text-left">
                <strong>{{ player.player.nickname }}</strong>
            </h3>
            <h3 class="text-center">{{ player.link }}</h3>
            <p>
                Načtěte QR kód nebo přepište do prohlížeče uvedenou adresu.
                Na stránce se přihlašte pomocí vašeho účtu na Facebooku nebo na Googlu. Následně potvrďte propojení a získáte přístup k vašemu ufobalovému účtu.
            </p>
        </div>
    {% endfor %}
{% endblock %}



