{% extends "managestats/base.html" %}

{% block content %}

    <h1>Týmy</h1>
    <a href="{% url 'managestats:index' %}">zpět</a> -
    <a target="_blank" href="{% url 'admin:ufobalapp_team_add' %}">přidat tým</a>

    <hr>

    <ul>
        {% for team in teams %}
            <li>
                <a target="_blank" href="{% url "admin:ufobalapp_team_change" team.id %}">{{ team }}</a> -
                <a target="_blank" href="{% url "admin:ufobalapp_team_changelist" %}?q={{ team.name }}">vyhledat</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}