{% extends "managestats/base.html" %}


{% block content %}


    <h2>{{ tournament }}</h2>
    <a href="{% url 'managestats:tournaments' %}">zpět</a> -
    <a target="_blank" href="{% url 'admin:ufobalapp_tournament_change' tournament.id %}">editovat turnaj</a>

    <hr>

    <h3>Týmy</h3>
    <a target="_blank" href="{% url 'admin:ufobalapp_teamontournament_add' %}?tournament={{ tournament.id }}">přidat
        tým</a>
    <br>

    <div class="medium-6 columns">
        <ul>
            {% for team in teams %}
                <li>
                    {{ team.rank }}
                    <a target="_blank" href="{% url 'admin:ufobalapp_teamontournament_change' team.id %}">{{ team }}</a> -
                    <a target="_blank" href="{% url "admin:ufobalapp_teamontournament_changelist" %}?q={{ team.name }}">vyhledat</a>
                    <a target="_blank" href="{% url "managestats:generate_pairing_info" 'teamtour' team.id %}">QR kody</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="medium-6 columns">
        <script>
            var x = "[{% for team in teams %}"+"{'name':'{{ team.team.name }}','id':{{ team.id }}"+"},{% endfor %}]";
            eval('var teams =' + x);
            for(var i = 0; i < teams.length; i++){
                teams[i]['name'] = teams[i]['name'].replace("&quot;", "\"","g").replace("&quot;", "\"","g");
            }
        </script>

        {% verbatim %}
        <div ng-app="ufobal-manage-stats" ng-controller="sortableController" class="container">

          <div class="floatleft">
            <ul ui-sortable="sortableOptions" ng-model="teams" class="list">
              <li ng-repeat="team in teams" class="item">
                {{ $index+1 }}. {{team.name}}
              </li>
            </ul>
          </div>

        <button class="save_tournament_ranks" ng-click="save_team_ranks(teams)">Uložit pořadí</button>
        <div id="loaded"></div>
        </div>
        {% endverbatim %}
    </div>





    <h3>Zápasy</h3>
    <ul>
        {% for match in matches %}
            <li>
            <a href="{% url 'managestats:match' match.id %}">{{ match }}</a>
        {% endfor %}

    </ul>

    <form method="post" action="{% url 'managestats:match_add' tournament.id %}">
        {% csrf_token %}

        <div class="medium-6 columns">
            <label>
                <h4>Tým 1</h4>
                <select name="team_one">
                    {% for team in teams %}
                        <option value="{{ team.id }}">{{ team }}</option>
                    {% endfor %}
                </select>
            </label>

        </div>
        <div class="medium-6 columns">
            <label>
                <h4>Tým 2</h4>
                <select name="team_two">
                    {% for team in teams %}
                        <option value="{{ team.id }}">{{ team }}</option>
                    {% endfor %}
                </select>
            </label>

        </div>

        <button>Přidat zápas</button>
    </form>


    <ul>
        <h3>Nezařazení hráči na turnaji</h3>
        {% for player in unknowns %}
            <li>
                <a target="_blank" href="{% url "admin:ufobalapp_player_change" player.id %}">{{ player }}</a>
            </li>
        {% endfor %}

    </ul>

{% endblock %}


