button.fixed{
    top: 300px;
    width: 100px;
}

h2, h4{
    font-weight: bold;
    color: gray;
    font-size: 1.5rem;
}

div.stripes > div:nth-child(2n) > div > div{
    background-color: #eeeeee;
}

.man:before{
    content: "♂";
}
.woman:before{
    content: "♀";
}

.list {
	list-style: none outside none;
	margin: 10px 0 30px;
}

.item {
	width: 300px;
	/*padding: 5px 10px;*/
	margin: 2px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: #95C7E2;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}


.save_tournament_ranks {
    position: relative;
    background-color: #008CBA;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.save_tournament_ranks:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.save_tournament_ranks:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}