button.fixed{
    top: 300px;
    width: 100px;
}

h2, h4{
    font-weight: bold;
    color: gray;
    font-size: 1.5rem;
}

div.stripes > div:nth-child(2n) > div > div{
    background-color: #eeeeee;
}

.man:before{
    content: "♂";
}
.woman:before{
    content: "♀";
}