button.fixed{
    top: 300px;
    width: 100px;
}

h2, h4{
    font-weight: bold;
    color: gray;
    font-size: 1.5rem;
}

div.stripes > div:nth-child(2n) > div > div{
    background-color: #eeeeee;
}

.man:before{
    content: "♂";
}
.woman:before{
    content: "♀";
}

.list {
	list-style: none outside none;
	margin: 10px 0 30px;
}

.item {
	width: 200px;
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: #EA8A8A;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}

