{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Ufobal {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "managestats/dist/managestats.min.css" %}">

    <script src="{% static "managestats/dist/managestats.min.js" %}"></script>
    <script src="{% static "dist/libs.min.js" %}"></script>
</head>
<body>


<div class="row">

    {% if messages %}
        {% for message in messages %}
            <div data-alert class="alert-box text-center {{ message.tags }} {% if message.tags == "error" %}alert{% endif %}">
                {{ message }}
                <a href="#" class="close">&times;</a>
            </div>
        {% endfor %}
    {% endif %}

    {% block content %} {% endblock %}
</div>

<script>
  $(document).foundation();
</script>
</body>
</html>