{% extends "base.html" %}


{% block content %}


    <h2>{{ match }}</h2>
    <a href="{% url 'managestats:tournament' match.tournament.id %}">zpět</a> -
    <a target="_blank" href="{% url 'admin:ufobalapp_match_change' match.id %}">editovat</a>

    <hr>


    <div class="columns medium-12">
        <h3>{{ match.team_one.get_name }}</h3>
        {% for player in team_one_players %}

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ player.id }}">
                <input type="hidden" name="team" value="{{ match.team_one.id }}">

                <div class="row">
                    <div class="columns medium-2">
                        <label>
                            {{ player.nickname }}
                        </label>

                    </div>

                    <div class="columns medium-2">
                        <label>Má gólů
                            <p>{{ player.goals_in_match }}</p>
                        </label>
                    </div>

                    <div class="columns medium-2">
                        <label>Má asistencí
                            <p>{{ player.assistances_in_match }}</p>
                        </label>
                    </div>


                    <div class="columns medium-2">
                        <label>Přidat gólů
                            <input type="number" name="goals" value="">
                        </label>
                    </div>

                    <div class="columns medium-2">
                        <label>Přidat asistencí
                            <input type="number" name="assistances" value="">
                        </label>
                    </div>

                    <div class="columns medium-2">
                        <button>Přidat</button>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>

    <div class="columns medium-12">
        <h3>{{ match.team_two.get_name }}</h3>
        {% for player in team_two_players %}

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ player.id }}">
                <input type="hidden" name="team" value="{{ match.team_two.id }}">

                <div class="row">
                    <div class="columns medium-2">
                        <label>
                            {{ player.nickname }}
                        </label>

                    </div>

                    <div class="columns medium-2">
                        <label>Má gólů
                            <p>{{ player.goals_in_match }}</p>
                        </label>
                    </div>

                    <div class="columns medium-2">
                        <label>Má asistencí
                            <p>{{ player.assistances_in_match }}</p>
                        </label>
                    </div>


                    <div class="columns medium-2">
                        <label>Přidat gólů
                            <input type="number" name="goals" value="">
                        </label>
                    </div>

                    <div class="columns medium-2">
                        <label>Přidat asistencí
                            <input type="number" name="assistances" value="">
                        </label>
                    </div>

                    <div class="columns medium-2">
                        <button>Přidat</button>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>

    <hr>

    <form method="post" action="{% url 'managestats:goal_add' match.id %}" class="columns medium-6">
        {% csrf_token %}

        <h3>{{ match.team_one.get_name }}</h3>


        <h4>Gól</h4>
        <select name="shooter">
            <option value="">-------</option>
            {% for player in match.team_one.players.all %}
                <option value="{{ player.id }}">{{ player }}</option>
            {% endfor %}
        </select>
        <h4>Asistence</h4>
        <select name="assistance">
            <option value="">-------</option>
            {% for player in match.team_one.players.all %}
                <option value="{{ player.id }}">{{ player }}</option>
            {% endfor %}
        </select>

        <button>Přidat gól</button>
    </form>



    <h3>{{ match.team_two.get_name }}</h3>
    <form method="post" action="{% url 'managestats:goal_add' match.id %}" class="columns medium-6">
        {% csrf_token %}

        <h4>Gól</h4>
        <select name="shooter">
            <option value="">-------</option>
            {% for player in match.team_two.players.all %}
                <option value="{{ player.id }}">{{ player }}</option>
            {% endfor %}
        </select>
        <h4>Asistence</h4>
        <select name="assistance">
            <option value="">-------</option>
            {% for player in match.team_two.players.all %}
                <option value="{{ player.id }}">{{ player }}</option>
            {% endfor %}
        </select>

        <button>Přidat gól</button>
    </form>

    <hr>

    <h3>Góly</h3>
    <ul>
        {% for goal in match.goals.all %}
            <li>
                <a target="_blank" href="{% url 'admin:ufobalapp_goal_change'  goal.id %}">{{ goal }}</a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}


