{% extends "base.html" %}

{% block content %}

    <h1>Hráči</h1>
    <a href="{% url 'managestats:index' %}">zpět</a> -
    <a href="{% url 'managestats:players_edit' %}">hromadná editace</a>

    <hr>

    <ul>
        {% for player in players %}
            <li>
                <a target="_blank" href="{% url "admin:ufobalapp_player_change" player.id %}">{{ player }}</a> -
                <a target="_blank" href="{% url "admin:ufobalapp_player_changelist" %}?q={{ player.nickname }}">vyhledat</a>
                <a target="_blank" href="{% url "managestats:player_detail" player.pk %}">veřejný</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}