{% extends "base.html" %}

{% block content %}

    <h1>Hráči</h1>
    <a href="{% url 'managestats:index' %}">zpět</a>
    <hr>

    <div ng-app="ufobal-manage-stats">
        <div ng-controller="player-bulk-edit">
            {% verbatim %}
            <div ng-hide="players">Načítání dat...</div>
            <button ng-show="changed && !saving" class="fixed" ng-click="save()">Uložit</button>

            <div class="row">
                <div class="medium-3 columns"><input type="text" ng-model="search" placeholder="hledat"></div>
                <div class="medium-9 columns"><button ng-click="get_players()">Obnovit</button></div>
            </div>

            <div  ng-repeat="player in players | filter:search | orderBy:'nickname' " class="row">
                <div class="medium-3 columns">
                    <label>Přezdívka
                        <input type="text" ng-model="player.nickname" ng-keypress="$event.which === 13 && save()"
                               ng-change="player.changed = true">
                    </label>
                </div>


                <div class="medium-2 columns">
                    <label>Jméno
                        <input type="text" ng-model="player.name" ng-keypress="$event.which === 13 && save()"
                               ng-change="player.changed = true">
                    </label>
                </div>

                <div class="medium-2 columns">
                    <label>Příjmení
                        <input type="text" ng-model="player.lastname" ng-keypress="$event.which === 13 && save()"
                               ng-change="player.changed = true">
                    </label>
                </div>

                <div class="medium-2 columns">
                    <label>Datum narození
                        <input datepicker type="text" ng-model="player.birthdate" ng-change="player.changed = true">
                    </label>
                </div>

                <div class="medium-2 columns">
                    <label>Pohlaví
                        <select
                                ng-change="player.changed = true"
                                ng-model="player.gender"
                                ng-options="gender.id as gender.text for gender in genders">
                            <option value="">----</option>
                        </select>
                    </label>
                </div>

                <div class="medium-1 columns">
                    <br>
                    <span ng-show="player.changed && !player.saving">!!!</span>
                    <div ng-show="player.saving" class="loader small"></div>
                </div>


            </div>
            {% endverbatim %}
        </div>
    </div>



{% endblock %}