{% extends "base.html" %}


{% block content %}
<script>
    function addMatch(){
        teams = $('input[type=checkbox][name=team]:checked');
        if (teams.size() > 1){
            team_one = teams[0].value;
            team_two = teams[1].value;

            url = "{% url 'admin:ufobalapp_match_add' %}?tournament={{ tournament.id }}&team_one="+team_one+"&team_two="+team_two;
            window.open(url, '_blank');
        }
        else{
            alert("malo vybranych tymu")
        }
    }

    $( document ).ready(function() {
        $('#addmatch').click(function(){
            addMatch(); return false;
        });
    });


</script>


<h2>{{ tournament }}</h2>
<a href="{% url 'managestats:tournaments' %}">zpět</a> -
<a href="{% url 'admin:ufobalapp_teamontournament_add' %}?tournament={{ tournament.id }}">přidat tým</a> -
<a id="addmatch">přidat zápas</a> (zaskrtnete tymy)


<ul>
    {% for team in teams %}
        <li>
            <a href="{% url 'admin:ufobalapp_teamontournament_change' team.id %}">{{ team }}</a> -
            <a href="{% url "admin:ufobalapp_teamontournament_changelist"%}?q={{ team.name }}">vyhledat</a> -
            <input type="checkbox" name="team" value="{{ team.id }}">
        </li>
    {% endfor %}
</ul>


<ul>
    <h3>zápasy</h3>
    {% for match in matches %}
        <li>
            <a href="{% url 'managestats:match' match.id %}">{{ match }}
    {% endfor %}

</ul>


<ul>
    <h3>nezařazení hráči</h3>
    {% for player in unknowns %}
        <li>
            <a href="{% url "admin:ufobalapp_player_change" player.id %}">{{ player }}</a>
        </li>
    {% endfor %}

</ul>

{% endblock %}


