{% extends "base.html" %}


{% block content %}


    <h2>{{ tournament }}</h2>
    <a href="{% url 'managestats:tournaments' %}">zpět</a> -
    <a target="_blank" href="{% url 'admin:ufobalapp_tournament_change' tournament.id %}">editovat turnaj</a>

    <hr>

    <h3>Týmy</h3>
    <a target="_blank" href="{% url 'admin:ufobalapp_teamontournament_add' %}?tournament={{ tournament.id }}">přidat
        tým</a>
    <ul>
        {% for team in teams %}
            <li>
                <a target="_blank" href="{% url 'admin:ufobalapp_teamontournament_change' team.id %}">{{ team }}</a> -
                <a target="_blank" href="{% url "admin:ufobalapp_teamontournament_changelist" %}?q={{ team.name }}">vyhledat</a>
            </li>
        {% endfor %}
    </ul>


    <h3>Zápasy</h3>
    <ul>
        {% for match in matches %}
            <li>
            <a href="{% url 'managestats:match' match.id %}">{{ match }}</a>
        {% endfor %}

    </ul>

    <form method="post" action="{% url 'managestats:match_add' tournament.id %}">
        {% csrf_token %}

        <div class="medium-6 columns">
            <label>
                <h4>Tým 1</h4>
                <select name="team_one">
                    {% for team in teams %}
                        <option value="{{ team.id }}">{{ team }}</option>
                    {% endfor %}
                </select>
            </label>

        </div>
        <div class="medium-6 columns">
            <label>
                <h4>Tým 2</h4>
                <select name="team_two">
                    {% for team in teams %}
                        <option value="{{ team.id }}">{{ team }}</option>
                    {% endfor %}
                </select>
            </label>

        </div>

        <button>Přidat zápas</button>
    </form>


    <ul>
        <h3>Nezařazení hráči na turnaji</h3>
        {% for player in unknowns %}
            <li>
                <a target="_blank" href="{% url "admin:ufobalapp_player_change" player.id %}">{{ player }}</a>
            </li>
        {% endfor %}

    </ul>

{% endblock %}


