.red{ color: darkred; }
.clickable{
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#container{
    min-height:100%;
    position:relative;
}
#content{
    padding: 20px 5px 120px;
    max-width: 62.5rem;
    margin: auto;
}

#footer {
    padding: 10px;
    width: 100%;
    text-align: center;
    position:absolute;
    bottom:0;
    border-top: lightgray 1px solid;
}

button.fixed{
    top: 300px;
    width: 100px;
}

h2, h4{
    font-weight: bold;
    color: gray;
    font-size: 1.5rem;
}

h5 {
    margin-bottom: -3px;
}

.man:before{
    content: "♂";
}
.woman:before{
    content: "♀";
}

.st-sort-ascent:before{ content: '\25B2'; }
.st-sort-descent:before{ content: '\25BC'; }
.smart-table { width: 100% }
.smart-table > thead > tr > th { cursor: pointer;}


.medal:after {
    content: "?";
    border: solid gray 1px;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: .5rem;
    position: relative;
    top: -1px;
    margin-left: 2px;
    color: grey;
    font-size: .6em;
    padding-left: 5px;
    line-height: 1.7em;
}

.medal-1:after{ content: "1"; background-color: gold; }
.medal-2:after{ content: "2"; background-color: silver; }
.medal-3:after{ content: "3"; background-color: #e79335; }
.medal-4:after{ content: "4"; }
.medal-5:after{ content: "5"; }

#feedback{
    right: -50px;
    position: fixed;
    top: 250px;
    z-index: 999;

    background: #333;
    border-radius: 6px 6px 0 0;
    color: #fff;
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 140px;
}

.search-box{
    max-width: 300px;
    position: relative;
}
.search-box > div, fieldset > .fi-x{
    color: gray;
    transition: all 0.5s;
    position: absolute;
    right: 0.7em;
    top: 0.5em;
    cursor: pointer;
}
.top-right-gender{
    position: absolute;
    right: 3.3em;
    top: 2.3em;
}
fieldset > .fi-x{ top: 2em; right: 1.3em }
.search-box > div:hover, fieldset > .fi-x:hover{ color: black}


.timer{
    text-align: center;
    font-size: 3em;
    user-select: none;
    -webkit-user-select: none;
}
.timer span.line{
    position: relative;
    top: -4px;
}
.timer .fi-play, .timer .fi-pause{
    font-size: 0.5em;
    position: relative;
    top: -6px;
}

.pressbutton {
    border: solid #008CBA 1px;
    padding: 10px 20px;
    margin: 5px;
    background-color: rgba(0, 140, 186, 0.3);
    color: rgb(0, 39, 58);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.19);
    white-space: nowrap;
}
.pressbutton:hover {
    background-color: rgba(0, 140, 186, 0.4);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.pressbutton.red {
    border: solid #7b080c 1px;
    background-color: rgba(123, 8, 12, 0.3);
}
.pressbutton.red:hover {
    background-color: rgba(123, 8, 12, 0.4);
}

.team-red{
    color: darkred !important;
}
.team-blue{
    color: darkblue !important;
}

.hoverLight:hover{
    background-color: rgba(255, 255, 0, 0.24) !important;
}


/* Login providers*/

.login-provider.standalone {
    display: inline-block; color: white;
    height: 2.8125rem;
    line-height: 2.8125rem;
    padding-left: 10px;
    padding-right: 25px;
}
.login-provider {
    transition: box-shadow 0.25s, border-color 0.25s, background-color 0.25s;
}
.login-provider:hover{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
#login-google{
    background: #2CAFE2 linear-gradient(to bottom, #2CAFE2, #1C9CCE);
}
#login-google:hover{
    background: #2ec9fe none;
}
#login-facebook{
    background: #3B5998 linear-gradient(to bottom, #406298, #3B5998);
}
#login-facebook:hover{
    background: #4476bb none;
}

.stripes:nth-child(2n){
    background-color: rgba(0, 0, 0, 0.10);
    border-right: 1px white solid;
}

.one-line{
    white-space: nowrap;
    overflow: hidden;
}

.arrow-left, .arrow-right{
    border-style: solid;
    height: 0;
    width: 0;
    display: inline-block;
    margin-bottom: 2px;
}
.arrow-left{
    border-color: transparent #000000 transparent transparent;
    border-width: 12px 20px 12px 0;
}
.arrow-right{
    border-color: transparent transparent transparent #000000 ;
    border-width: 12px 0 12px 20px;
}

.toast-top-center {
  top: 3rem;
}