<a href back class="left">&lsaquo; zpět</a>
<hr>

<h1>Skupiny - {{ tournament.full_name }}</h1>

<div class="loader" ng-hide="groups"></div>

<div ng-repeat="group in groups">
    <h3>{{ group.name }}</h3>
    <table class="group">
        <tr class="first-line">
            <th></th>
            <th ng-repeat="team in group.teams"><a href="/tym/{{ team.team.pk }}/{{ team.team.name }}">{{ team.name_pure }}</a></th>
            <td>V / P / R</td>
            <td>Skóre</td>
        </tr>
        <tr ng-repeat="team in group.teams" ng-init="stats = stats[team.pk][group.level]">
            <th>{{ team.name_pure }}</th>
            <td ng-repeat="team2 in group.teams" ng-init='score = matches[team.pk+"-"+team2.pk][group.level]'>
                <span ng-show="score">{{ score[0] }} : {{ score[1] }}<span ng-show="score[2]">P</span></span>
            </td>
            <td><span>
                {{ stats['wins'] }}<span ng-show="stats['winsP']">({{ stats['winsP'] }}P)</span> /
                {{ stats['looses'] }}<span ng-show="stats['loosesP']">({{ stats['loosesP'] }}P)</span> /
                {{ stats['draws'] }}</span></td>
            <td><span ng-show="stats['score']">{{ stats['score'][0] }} : {{ stats['score'][1] }}</span></td>
        </tr>
    </table>
    <hr>
</div>