<div class="loader" ng-hide="players"></div>

<div st-table="rows" st-safe-src="players" ng-hide="player || !players">
    <input st-search="nickname" placeholder="hledat..." class="input-sm form-control" type="search"/>
    <table class="smart-table">
        <thead>
        <tr>
            <th width="30%" st-sort="nickname" st-sort-default="true">Jméno</th>
            <th width="40%">týmy</th>
            <th class="text-right" st-sort="goalsSum">góly</th>
            <th class="text-right" st-sort="assistsSum">asistence</th>
            <th class="text-right" st-sort="canada">kanada</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in rows">
            <td><a ng-class="player.gender" href="" ng-href="hrac/{{ player.pk }}/{{ player.nickname }}">{{player.nickname}}</a></td>
            <td>
                <span ng-repeat="t in getPlayerTeams(player) | orderBy:'-count' ">{{ t.team.name }} ({{ t.count }}x)<span ng-hide="$last">, </span></span>
            </td>
            <td class="text-right">{{ player.goalsSum }}</td>
            <td class="text-right">{{ player.assistsSum }}</td>
            <td class="text-right">{{ player.canada }}</td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="15" class="text-center">
                    <div st-pagination="" st-items-by-page="20" st-displayed-pages="10" st-template="utils/st-pagination.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
