<div class="loader" ng-hide="players"></div>

<div st-persist="players" st-table="rows" st-safe-src="players" ng-cloak class="row" ng-show="players">
    <div class="search-box">
        <input st-search="search" placeholder="hledat..." class="input-sm form-control" type="search">
        <div class="fi-x" st-reset-search></div>
    </div>

    <table class="smart-table">
        <thead>
        <tr>
            <th width="30%" class="clickable" st-sort="nickname">Jméno</th>
            <th width="40%">Týmy</th>
            <th class="text-right clickable" st-sort="goalsSum" st-descending-first="true">Góly</th>
            <th class="text-right clickable" st-sort="assistsSum" st-descending-first="true">Asistence</th>
            <th class="text-right clickable" st-sort="canada" st-descending-first="true">Kanada</th>
            <th class="text-right clickable" st-sort="penalties" st-descending-first="true">Karty</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in rows">
            <td><a ng-class="player.gender" href="" ng-href="hrac/{{ player.pk }}/{{ player.nickname }}">{{player.nickname}}</a></td>
            <td>
                <span ng-repeat="t in player.teams | orderBy:'-count' ">{{ t.team.name }} ({{ t.count }}x)<span ng-hide="$last">, </span></span>
            </td>
            <td class="text-right">{{ player.goalsSum }}</td>
            <td class="text-right">{{ player.assistsSum }}</td>
            <td class="text-right">{{ player.canada }}</td>
            <td class="text-right">{{ player.penalty_count }}</td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="15" st-displayed-pages="10" st-template="utils/st-pagination.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
