<div class="loader" ng-hide="player"></div>


<div ng-cloak ng-show="player">
    <div>
        <a ng-href="hraci" class="left">&lsaquo; hráči</a>
        <hr>
        <a ng-hide="edit" ng-click="edit=true" class="right"><i class="fi-pencil"></i> upravit profil</a>

        <h1> &nbsp; {{ player.nickname }} </h1>
        <h2 ng-class="{man: player.gender=='man', woman: player.gender=='woman'}">
            {{ player.name }} {{ player.lastname }} <span ng-show="player.age">({{ player.age }})</span>
        </h2>

    </div>

    <div ng-cloak ng-show="edit">
        <hr>
        <a ng-click="edit=false" class="right"><i class="fi-x"></i> zrušit změny</a>


        <div class="row">
            <div class="columns medium-3">
                <label>Přezdívka
                    <input type="text" ng-model="player.nickname" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns medium-3">
                <label>Jméno
                    <input type="text" ng-model="player.name" />
                </label>
            </div>
            <div class="columns medium-3">
                <label>Příjmení
                    <input type="text" ng-model="player.lastname" />
                </label>
            </div>
            <div class="columns medium-6"></div>
        </div>
        <div class="row">
            <div class="columns medium-3">
                <label>Pohlaví
                    <select
                        ng-model="player.gender"
                        ng-options="gender.id as gender.text for gender in genders">
                        <option value="">----</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns medium-3">
                <label>Datum narození
                    <input type="date" ng-change="computeAge()" ng-model="player.birthdate">
                </label>
            </div>
             <div class="columns medium-3">
                <label>Věk
                    <input disabled type="text" ng-model="player.age" />
                </label>
            </div>
            <div class="columns medium-6"></div>
        </div>
        <i>Datum narození nebude nikde zveřejňováno (pouze jako věk).</i>
        <br>

        <button ng-hide="player.saving" ng-click="save()">Uložit</button>
        <div ng-show="player.saving" class="loader small"></div>
    </div>

    <hr>

    <h3>Turnaje</h3>

    <table>
        <thead>
            <tr>
                <th>Turnaj</th>
                <th>Tým</th>
                <th class="text-right">Góly</th>
                <th class="text-right">Asistence</th>
                <th class="text-right">Kanada</th>
                <th>smazat</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in player.tournaments | orderBy:'tournament.date':true">
                <td><a ng-href="/turnaj/{{ t.tournament.pk }}/{{ t.tournament.full_name }}">{{ t.tournament.full_name }}</a></td>
                <td><a ng-href="tym/{{ t.team.pk }}/{{ t.name }}">{{ t.name}}</a></td>
                <td class="text-right">{{ player.goals[t.tournament.pk] }}</td>
                <td class="text-right">{{ player.assists[t.tournament.pk] }}</td>
                <td class="text-right">{{ player.goals[t.tournament.pk] + player.assists[t.tournament.pk] }}</td>
                <td class="text-right"><a class="fi-x" ng-click="removeAttendance(t)"></a></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="row">
        <div class="text-right columns small-2">
            <select
                ng-model="selectedTournament"
                ng-options="tournament as tournament.full_name for tournament in tournaments | orderBy:'-date'">
                <option value="">----</option>
            </select>
        </div>
        <div class="columns small-2">
            <select
                ng-model="selectedTeam"
                ng-options="team as team.name for team in selectedTournament.teamOnTournaments | orderBy:'name'">
                <option value="">----</option>
            </select>
        </div>
        <div class="columns small-2"><a class="fi-plus" ng-click="addAttendance()"> přidat</a></div>
        <div class="columns small-6"><div ng-show="player.saving" class="loader small"></div></div>
    </div>

    <hr>

    <h4 ng-hide="getScoreWithoutTeam(player).length == 0">What? Turnaje se skórem, ale bez týmu</h4>

    <div ng-repeat="t in getScoreWithoutTeam(player)">
        {{ t.full_name }} - {{ player.goals[t.pk] ? player.goals[t.pk] : 0 }} golů a {{ player.assists[t.pk] ? player.assists[t.pk] : 0 }} assistencí
    </div>
</div>