<div class="loader" ng-hide="teams"></div>

<div st-persist="teams" st-table="rows" st-safe-src="teams" ng-cloak ng-show="teams">
    <div class="search-box">
        <input st-search="namesSearch" placeholder="hledat..." class="input-sm form-control" type="search"/>
        <div class="fi-x" st-reset-search></div>
    </div>
    <table class="smart-table">
        <thead>
        <tr>
            <th width="20%" class="clickable" st-sort="name">Jméno</th>
            <th width="40%"></th>
            <th width="30%" class="clickable" st-sort="medals" st-descending-first="true">Umístění</th>
            <th>Počet turnajů</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="team in rows">
            <td><a ng-href="/tym/{{ team.pk }}/{{ team.name }}">{{ team.name }}</a></td>
            <td>
                <span ng-repeat="n in team.names | filter:'!'+team.name:true | orderBy:'-count'">{{ n.name }}<span ng-hide="$last">, </span></span>
            </td>
            <td>
                <span ng-repeat="count in team.medals track by $index" ng-show="count">
                    <span class="medal medal-{{ $index + 1 }}">{{ count }}&times;</span>
                </span>
            </td>
            <td>{{ team.teamOnTournaments.length }}</td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    <div st-pagination="" st-items-by-page="15" st-displayed-pages="10" st-template="utils/st-pagination.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>