<div class="loader" ng-hide="team"></div>

<div ng-cloak ng-show="team">
    <a href back class="left">&lsaquo; zpět</a>

    <hr>

    <h1>{{ team.name }}</h1>
    <h2>
        <span ng-repeat="n in getTeamNames(team) | filter:'!'+team.name:true | orderBy:'-count'">{{ n.name }}<span ng-hide="$last">, </span></span>
    </h2>

    <h3>Turnaje</h3>

    <table>
        <thead>
            <tr>
                <th>Turnaj</th>
                <th></th>
                <th>Hráči</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in team.teamOnTournaments | orderBy:'tournament.date':true">
                <td><a ng-href="/turnaj/{{ t.tournament.pk }}/{{ t.tournament.full_name }}">{{ t.tournament.full_name }}</a></td>
                <td><span ng-hide="t.name == team.name">{{ t.name }}</span></td>

                <td>
                    <span ng-repeat="player in t.players">
                        <a ng-href="hrac/{{ player.pk }}/{{ player.nickname }}">{{ player.nickname }}</a>
                        <span ng-hide="$last">, </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

</div>