<div class="loader" ng-hide="tournament"></div>

<div ng-cloak ng-show="tournament">
    <a href back class="left">&lsaquo; zpět</a>

    <hr>

    <a class="right" href="/skupiny/{{ tournament.pk }}"><button>Skupiny</button></a>

    <h1>{{ tournament.full_name }}</h1>

    <ul ng-show="goalCount">
        <li><b>{{ tournament.teamOnTournaments.length }}</b> týmů odehrálo <b>{{ tournament.matches.length }}</b> zápasů</li>
        <li>celkem se zúčastnilo <b>{{ playerCount }}</b> hráčů</li>
        <li>bylo vstřeleno <b>{{ goalCount }}</b> branek</li>
    </ul>

    <hr>

    <div class="row"><div class="medium-6 column large-4 " class="row">
        <select
            ng-model="filterTeam"
            ng-options="team.name as team.name for team in tournament.teamOnTournaments | orderBy:'name'">
            <option value="">Všechny týmy</option>
        </select>
    </div></div>

    <div class="row">
        <div class="columns medium-7">
            <h3>Týmy</h3>
            <table>
                <thead>
                    <tr>
                        <td>#</td>
                        <th>Jméno</th>
                        <th>Skóre</th>
                        <th>Hráči</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in tournament.teamOnTournaments | filter: { name : filterTeam } | orderBy:'rank'">
                        <th class="text-right">
                            <span ng-show="t.rank">{{ t.rank }}.</span>
                            <span ng-hide="t.rank">-</span>
                        </th>
                        <td>
                            <a ng-href="tym/{{ t.team.pk }}/{{ t.name }}">{{ t.name}}</a>
                        </td>
                        <td>
                            {{ t.goals_scored }}:{{ t.goals_recieved }}
                        </td>
                        <td>
                            <span ng-repeat="player in t.players">
                                <a ng-href="hrac/{{ player.pk }}/{{ player.nickname }}">{{ player.nickname }}</a><span ng-hide="$last">, </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h3 ng-show="tournament.matches.length > 1">Zápasy</h3>
            <table style="margin: auto" ng-show="tournament.matches.length">
                <tbody>
                    <tr class="hoverLight" ng-repeat="match in tournament.matches | filter: {length: '', search: filterTeam }| orderBy:'start'">
                            <td class="text-right"> {{ match.team_one.name_pure }}</td>
                            <td class="text-right"><b>{{ match.score_one }}</b></td>
                            <td><b>{{ match.score_two }}<span ng-show="match.with_shootout">P</span></b></td>
                            <td>{{ match.team_two.name_pure }}</td>
                            <td><a href="/turnaj/zapas/{{ tournament.pk }}/{{ match.pk }}">detail</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="columns medium-5">
            <label class="man" style="float: right !important; margin-left: 10px;"> <input type="checkbox" ng-change="filterPlayers()" ng-model="man"> </label>
            <label class="woman" style="float: right !important;"> <input type="checkbox" ng-change="filterPlayers()" ng-model="woman"> </label>
            <h3>Nejlepší hráči</h3>
            <div st-rank st-table="rows" st-safe-src="players" ng-cloak ng-show="players">
                <table class="smart-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th st-sort="nickname" class="clickable">Jméno</th>
                        <th class="text-right clickable" st-sort="goalsSumFiltered" st-descending-first="true">góly</th>
                        <th class="text-right clickable" st-sort="assistsSumFiltered" st-descending-first="true">asistence</th>
                        <th class="text-right clickable" st-sort="canadaFiltered" st-descending-first="true">kanada</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="player in rows">
                        <th>{{ player.rank }}.</th>
                        <td><a ng-class="player.gender" href="" ng-href="hrac/{{ player.pk }}/{{ player.nickname }}">{{player.nickname}}</a></td>
                        <td class="text-right"> {{ player.goalsSumFiltered }}</td>
                        <td class="text-right">{{ player.assistsSumFiltered }}</td>
                        <td class="text-right">{{ player.canadaFiltered }}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="15" st-displayed-pages="5" st-template="utils/st-pagination.html"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <h3 ng-show="goalies">Nejlepší brankáři</h3>
            <div st-rank st-table="rows2" st-safe-src="goalies" ng-cloak ng-show="goalies">
                <table class="smart-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th st-sort="player.nickname" class="clickable">Jméno</th>
                        <th class="text-right clickable" st-sort="matches" st-descending-first="true">zápasů</th>
                        <th class="text-right clickable" st-sort="shots" st-descending-first="true">střel</th>
                        <th class="text-right clickable" st-sort="goals" st-descending-first="true">gólů</th>
                        <th class="text-right clickable" st-sort="success" st-descending-first="true">úspěšnost</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="goalie in rows2">
                        <th>{{ goalie.rank }}.</th>
                        <td><a ng-class="goalie.player.gender" href="" ng-href="hrac/{{ goalie.player.pk }}/{{ goalie.player.nickname }}">{{goalie.player.nickname}}</a></td>
                        <td class="text-right"> {{ goalie.matches }}</td>
                        <td class="text-right"> {{ goalie.shots }}</td>
                        <td class="text-right"> {{ goalie.goals }}</td>
                        <td class="text-right"> {{ goalie.success * 100 | number:1 }}%</td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="15" st-displayed-pages="5" st-template="utils/st-pagination.html"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <h3 ng-show="pairs.length">Nejproduktivnější dvojice</h3>
            <div st-rank st-table="rows3" st-safe-src="pairs" ng-cloak ng-show="pairs.length">
                <table class="smart-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="clickable">Hráč 1</th>
                        <th class="clickable">Hráč 2</th>
                        <th class="text-right clickable" st-sort="points" st-descending-first="true">body</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pair in rows3">
                        <th>{{ pair.rank }}.</th>
                        <td>
                            <a ng-class="pair.player1.gender" href="" ng-href="hrac/{{ pair.player1.pk }}/{{ pair.player1.nickname }}">
                                {{ pair.player1.nickname }}
                            </a>
                            <span ng-if="pair.goals_first">({{ pair.goals_first }})</span>
                        </td>
                        <td>
                            <a ng-class="pair.player2.gender" href="" ng-href="hrac/{{ pair.player2.pk }}/{{ pair.player2.nickname }}">
                                {{pair.player2.nickname}}
                            </a>
                            <span ng-if="pair.goals_second">({{ pair.goals_second }})</span>
                        </td>
                        <td class="text-right"> {{ pair.points }}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="15" st-displayed-pages="5" st-template="utils/st-pagination.html"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
