<a href back class="left">&lsaquo; zpět</a>

<hr>
<div class="loader" ng-hide="match"></div>

<div ng-show="match">
    <div class="text-center">
        <span ng-show="match.halftime > 0">{{ match.halftime }}. poločas</span>
        <span ng-show="match.halftime === null">zápas ukončen</span>
        <span ng-show="match.halftime > 0" ng-click="nextHalftime()" class="clickable fi-arrow-right"></span>
    </div>
    <div class="timer" ng-show="match.halftime !=   = null">
        <span ng-click="timer.addTime(-5000)" class="clickable fi-rewind"></span>
        <span ng-click="timer.addTime(-1000)" class="clickable line">&#9666;</span>
        &nbsp;&nbsp;&nbsp;
        <span ng-click="timer.start();" ng-show="!timer.running" class="clickable fi-play"></span>
        <span ng-click="timer.stop()" ng-show="timer.running" class="clickable fi-pause"></span>
        <timer ng-click="timer.switchState(); start();" class="clickable" countdown="true" interface="timer">
            <b ng-class="{red: negative}">{{ sign }}{{ mminutes }}:{{ sseconds }}</b>
        </timer>
        &nbsp;&nbsp;&nbsp;
        <span ng-click="timer.addTime(1000)" class="clickable line">&#9656;</span>
        <span ng-click="timer.addTime(5000)" class="clickable fi-fast-forward"></span>
    </div>

    <hr>

   {{ match.team_one.name_pure }}
   {{ match.team_two.name_pure }}
</div>
