<a href back class="left">&lsaquo; zpět</a>

<hr>
<div class="loader" ng-hide="match"></div>

<div ng-show="match" class="row">
    <div class="text-center">
        <span ng-show="match.halftime > 0">{{ match.halftime }}. poločas</span>
        <span ng-show="match.halftime === null">zápas ukončen</span>
        <span ng-show="match.halftime > 0" ng-click="nextHalftime()" class="clickable fi-arrow-right"></span>
    </div>
    <div class="timer" ng-show="match.halftime !== null">
        <span ng-click="timer.addTime(-5000)" class="clickable fi-rewind"></span>
        <span ng-click="timer.addTime(-1000)" class="clickable line">&#9666;</span>
        &nbsp;&nbsp;
        <span ng-click="start();" ng-show="!timer.running" class="clickable fi-play"></span>
        <span ng-click="timer.stop()" ng-show="timer.running" class="clickable fi-pause"></span>
        <timer ng-click="start(true);" class="clickable" countdown="true" interface="timer">
            <b ng-class="{red: negative}">{{ sign }}{{ mminutes }}:{{ sseconds }}</b>
        </timer>
        &nbsp;&nbsp;
        <span ng-click="timer.addTime(1000)" class="clickable line">&#9656;</span>
        <span ng-click="timer.addTime(5000)" class="clickable fi-fast-forward"></span>
    </div>

    <hr>
    <div class="text-center"> <a href="" data-reveal-id="changeReferee">
        píská: {{ match.referee_team.name_pure }} - <b ng-show="match.referee"> {{ match.referee.nickname }}</b>
    </a></div>

    <div class="columns small-6 medium-5 text-right clickable" ng-class="match.team_one.color" ng-click="newGoalieChange(match.team_one)">
        <b ng-show="match.team_one.goalie">{{ match.team_one.goalie.nickname }}</b>
        <span ng-hide="match.team_one.goalie">bez brankáře</span>
    </div>
    <div class="columns medium-2 show-for-medium-up text-center">&nbsp;</div>
    <div class="columns small-6 medium-5 clickable" ng-class="match.team_two.color" ng-click="newGoalieChange(match.team_two)">
        <b ng-show="match.team_two.goalie">{{ match.team_two.goalie.nickname }}</b>
        <span ng-hide="match.team_two.goalie">bez brankáře</span>
    </div>

    <div class="columns small-6 medium-5 text-right" style="font-size: 2em;" ng-class="match.team_one.color"><b>{{ match.team_one.name_pure }}</b></div>
    <div class="columns medium-2 show-for-medium-up text-center">&nbsp;</div>
    <div class="columns small-4 medium-3" style="font-size: 2em;" ng-class="match.team_two.color"><b>{{ match.team_two.name_pure }}</b></div>

    <div class="columns small-2">
        <div class="small switch right">editace <br><input id='edit' type="checkbox" ng-model="edit"><label for="edit"></label></div>
    </div>


    <div class="columns small-6 medium-5 text-right" ng-class="match.team_one.color"
    ng-init="">
        {{ counts.teamOne.goals / (counts.teamOne.goals + counts.teamOne.shots) * 100 | number:0 }}% -
        {{ counts.teamOne.shots }}
        &nbsp;&nbsp;&nbsp;
        <span style="font-size: 3em;">{{ counts.teamOne.goals }}</span>
    </div>
    <div class="columns medium-2 show-for-medium-up text-center">&nbsp;</div>
    <div class="columns small-4 medium-3" ng-class="match.team_two.color">
        <span style="font-size: 3em;">{{ counts.teamTwo.goals }}</span>
        &nbsp;&nbsp;&nbsp;
        {{ counts.teamTwo.shots }} -
        {{ counts.teamTwo.goals / (counts.teamTwo.goals + counts.teamTwo.shots) * 100 | number:0 }}%
    </div>
    <div class="columns small-2">
        <div class="small switch right">střely <br><input id='showShots' type="checkbox" ng-model="showShots"><label for="showShots"></label></div>
    </div>


    <div class="show-for-small columns small-6 medium-5 text-right"><h3>
        <span class="pressbutton" ng-click="saveShot(match.team_one)">střela</span>
        <br><br>
        <span ng-click="newPenalty(match.team_one)" class="clickable fi-alert"></span>
        <span class="pressbutton" ng-click="newGoal(match.team_one)">gól</span>
    </h3></div>
    <div class="columns small-6 medium-5 show-for-medium-up text-right"><h3>
        <span ng-click="newPenalty(match.team_one)" class="clickable fi-alert"></span>
        <span class="pressbutton" ng-click="saveShot(match.team_one)">střela</span>
        <span class="pressbutton" ng-click="newGoal(match.team_one)">gól</span>
    </h3></div>
    <div class="columns medium-2 show-for-medium-up text-center">&nbsp;</div>
    <div class="show-for-small columns small-6 medium-5"><h3>
        <span class="pressbutton" ng-click="saveShot(match.team_two)">střela</span>
        <br><br>
        <span class="pressbutton" ng-click="newGoal(match.team_two)">gól</span>
        <span ng-click="newPenalty(match.team_two)" class="clickable fi-alert"></span>
    </h3></div>
    <div class="columns small-6 medium-5 show-for-medium-up"><h3>
        <span class="pressbutton" ng-click="newGoal(match.team_two)">gól</span>
        <span class="pressbutton" ng-click="saveShot(match.team_two)">střela</span>
        <span ng-click="newPenalty(match.team_two)" class="clickable fi-alert"></span>
    </h3></div>

    <hr>

    <div ng-repeat="event in match.events | filter : eventFilter | orderBy : '-time'" class="row hoverLight">
        <div class="columns small-2 medium-1 text-right">
            &nbsp;
            <span ng-hide="event.saved" class="fi-unlink"></span>
            <span ng-show="edit && (event.type == 'goal' || event.type == 'shot' || event.type == 'penalty')"
                  ng-click="remove(event)" class="fi-x clickable"></span>
        </div>
        <div class="columns small-2 medium-1 text-right"><hr ng-show="event.type == 'halftime'">{{ event.time | limitTo : -5 }}</div>
        <div class="columns small-8 medium-10">
            <div ng-show="event.type == 'goal'" ng-class="event.team.color">gól: <b>{{ event.data.shooter.nickname }}</b><span ng-show="event.data.assistance"> - {{ event.data.assistance.nickname }}</span></div>
            <div ng-show="event.type == 'shot'" ng-class="event.team.color">střela<span ng-show="event.data.shooter">: {{ event.data.shooter.nickname }}</span></div>
            <div ng-show="event.type == 'penalty'" ng-class="event.team.color"><span class="fi-alert"> {{ event.data.cardText }} karta</span>: <b>{{ event.data.player.nickname }}</b> - {{ event.data.reason }}</div>
            <div ng-show="event.type == 'halftime'"><hr><b>konec poločasu</b> </div>
            <div ng-show="event.type == 'end'"><b>konec zápasu</b></div>
            <div ng-show="event.type== 'goalieChange'" ng-class="event.team.color"><span class="fi-loop"> změna brankáře</span>: <b>{{ event.data.goalie.nickname }}</b></div>
        </div>
    </div>

</div>



<div id="newGoal" class="small reveal-modal" data-reveal>
    <h2 id="modalTitle">Gól - {{ goal.team.name_pure }} - <span ng-hide="goal.shooter">střelec</span><span ng-show="goal.shooter">asistence</span></h2>
    <div class="row" ng-hide="goal.shooter">
        <div
                class="columns medium-6 large-4"
                ng-repeat="player in goal.team.players"
                ng-click="goal.shooter = player"
        ><div class="pressbutton"><h5>{{ player.nickname }}</h5></div></div>
        <div class="columns medium-6 large-4" >&nbsp;</div>
    </div>
    <div class="row" ng-show="goal.shooter">
        <div
                class="columns medium-6 large-4"
                ng-repeat="player in goal.team.players"
                ng-click="goal.assistance = player; saveGoal();"
        >
            <span ng-show="player == goal.shooter">&nbsp;</span>
            <div class="pressbutton" ng-show="player != goal.shooter"><h5>{{ player.nickname }}</h5></div></div>
        <div class="columns medium-6 large-4" ng-click="goal.assistance = null; saveGoal();"><div class="pressbutton red"><h5>nikdo</h5></div></div>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<div id="newPenalty" class="small reveal-modal" data-reveal>
    <h2 id="modalTitle">Karta - {{ penalty.team.name_pure }}<span ng-show="penalty.player"> - {{ penalty.player.nickname }}</span></h2>
    <div class="row" ng-hide="penalty.player">
        <div
                class="columns medium-6 large-4"
                ng-repeat="player in penalty.team.players"gru
                ng-click="penalty.player = player"
        ><div class="pressbutton"><h5>{{ player.nickname }}</h5></div></div>
    </div>
    <div ng-show="penalty.player">
        <label>Karta
            <select
                    ng-model="penalty.card"
                    ng-options="card.id as card.text for card in cards">
            </select>
        </label>
        <label>Odůvodnění
            <textarea ng-model="penalty.reason"></textarea>
        </label>
        <button ng-show="penalty.reason" ng-click="savePenalty()">Udělit</button>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<div id="newGoalieChange" class="small reveal-modal" data-reveal>
    <h2 id="modalTitle">Změna brankáře - {{ goalieChange.team.name_pure }}</h2>
    <div class="row" ng-hide="goalieChange.goalie" >
        <div
                class="columns medium-6 large-4"
                ng-repeat="player in goalieChange.team.players"
                ng-click="goalieChange.goalie = player"
        ><div class="pressbutton"><h5>{{ player.nickname }}</h5></div></div>
    </div>
    <button ng-show="goalieChange.goalie" ng-click="saveGoalieChange()">{{ goalieChange.goalie.nickname }} - Změnit</button>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<div id="changeReferee" class="small reveal-modal" data-reveal>
    <h2 id="modalTitle">Volba hlavního rozhodčího</h2>
    <label>
        <select
                ng-model="match.referee"
                ng-change="changeReferee()"
                ng-options="player as player.nickname for player in match.referee_team.players">
        </select>
    </label>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>