<a href back class="left">&lsaquo; zpět</a>

<hr>
<div class="loader" ng-hide="match"></div>

<div ng-show="match" class="row">
    <div class="text-center">
        <span ng-show="match.halftime > 0">{{ match.halftime }}. poločas</span>
        <span ng-show="match.halftime === null">zápas ukončen</span>
        <span ng-show="match.halftime > 0" ng-click="nextHalftime()" class="clickable fi-arrow-right"></span>
    </div>
    <div class="timer" ng-show="match.halftime !== null">
        <span ng-click="timer.addTime(-5000)" class="clickable fi-rewind"></span>
        <span ng-click="timer.addTime(-1000)" class="clickable line">&#9666;</span>
        &nbsp;&nbsp;
        <span ng-click="timer.start(); start();" ng-show="!timer.running" class="clickable fi-play"></span>
        <span ng-click="timer.stop()" ng-show="timer.running" class="clickable fi-pause"></span>
        <timer ng-click="timer.switchState(); start();" class="clickable" countdown="true" interface="timer">
            <b ng-class="{red: negative}">{{ sign }}{{ mminutes }}:{{ sseconds }}</b>
        </timer>
        &nbsp;&nbsp;
        <span ng-click="timer.addTime(1000)" class="clickable line">&#9656;</span>
        <span ng-click="timer.addTime(5000)" class="clickable fi-fast-forward"></span>
    </div>

    <hr>

    <div class="columns small-5 text-right" style="font-size: 2em;" ng-class="match.team_one.color"><b>{{ match.team_one.name_pure }}</b></div>
    <div class="columns small-2 text-center">&nbsp;</div>
    <div class="columns small-5" style="font-size: 2em;" ng-class="match.team_two.color"><b>{{ match.team_two.name_pure }}</b></div>


    <div class="columns small-5 text-right" style="font-size: 3em;" ng-class="match.team_one.color">{{ goalCount(1) }}</div>
    <div class="columns small-2">&nbsp;</div>
    <div class="columns small-3" style="font-size: 3em;" ng-class="match.team_two.color">{{ goalCount(2) }}</div>
    <div class="columns small-2"><div class="small switch right">střely <br><input id='showShots' type="checkbox" ng-model="showShots"><label for="showShots"></label></div></div>


    <div class="columns small-5 text-right" ><h3>
        <span class="pressbutton" ng-click="saveShot(match.team_one)">střela</span>
        <span class="pressbutton" ng-click="newGoal(match.team_one)">gól</span>
    </h3></div>
    <div class="columns small-2 text-center">&nbsp;</div>
    <div class="columns small-5"><h3>
        <span class="pressbutton" ng-click="newGoal(match.team_two)">gól</span>
        <span class="pressbutton" ng-click="saveShot(match.team_two)">střela</span>
    </h3></div>

    <hr>

    <div ng-repeat="event in match.events | filter : eventFilter" class="row">
        <div class="columns small-2 text-right">&nbsp;<span ng-hide="event.saved" class="fi-unlink"></span></div>
        <div class="columns small-2 text-right">{{ event.time | limitTo : -5 }}</div>
        <div class="columns small-8">
            <div ng-show="event.type == 'goal'" ng-class="event.team.color">gól: <b>{{ event.data.shooter.nickname }}</b><span ng-show="event.data.assistance"> - {{ event.data.assistance.nickname }}</span></div>
            <div ng-show="event.type == 'shot'" ng-class="event.team.color">střela<span ng-show="event.data.shooter">: {{ event.data.shooter.nickname }}</span></div>
        </div>
    </div>

</div>



<div id="newGoal" class="small reveal-modal" data-reveal>
    <h2 id="modalTitle">Gól - {{ goal.team.name_pure }} - <span ng-hide="goal.shooter">střelec</span><span ng-show="goal.shooter">asistence</span></h2>
    <div class="row" ng-hide="goal.shooter">
        <div
                class="pressbutton columns medium-6 large-4"
                ng-repeat="player in goal.team.players"
                ng-click="goal.shooter = player"
        ><h5>{{ player.nickname }}</h5></div>
    </div>
    <div class="row" ng-show="goal.shooter">
        <div
                class="pressbutton columns medium-6 large-4"
                ng-repeat="player in goal.team.players"
                ng-click="goal.assistance = player; saveGoal();"
        ><h5>{{ player.nickname }}</h5></div>
        <div class="pressbutton columns medium-6 large-4 red" ng-click="goal.assistance = null; saveGoal();"><h5>bez asistence</h5></div>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>