{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <title>Ufo-IS</title>

    <link rel="stylesheet" type="text/css" href="{% static "dist/ufobalapp.min.css" %}">

    <script src="{% static "dist/libs.min.js" %}"></script>
    <script src="{% static 'djng/js/django-angular.js' %}"></script>
    {% if DEBUG %}
        <script src="{% static "dist/ufobalapp.js" %}"></script>
    {% else %}
        <script src="{% static "dist/ufobalapp.min.js" %}"></script>
    {% endif %}

    <base href="/">
    <script>
        var user = {{ user | safe | default:"null" }};
    </script>
</head>
<body ng-app="ufoIS">
{#<a href="https://docs.google.com/forms/d/1AcEV9XoB__lzwH9sN71xINuW0r6bsnyIMRUMyLJByHM/viewform" target="_blank"><div id="feedback">Hlášení chyby</div></a>#}

<div id="container">

<div class="contain-to-grid" role="navigation">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name uppercase"><h1><a href="/">Ufo-IS</a></h1></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section"> <!-- Left Nav Section -->
            <ul class="left">
                <li><a href="/turnaje">Turnaje</a></li>
                <li><a href="/tymy">Týmy</a></li>
                <li><a href="/hraci">Hráči</a></li>
                <li><a href="/statistiky">Statistiky</a></li>
                <li><a href="/brankari">Brankáři</a></li>
                <li><a href="/sin_slavy">Síň rekordů</a></li>
                <li><a href="/turnaj">Aktuální turnaj</a></li>
            </ul>
        </section>
        <section class="top-bar-section"> <!-- Right Nav Section -->
            <ul class="right" ng-controller="auth" ng-include="'auth.html'"></ul>
        </section>
    </nav>
</div>

<div id="content">
    {% if TEST %}
        <div class="alert-box alert text-center">Testovací verze - změny zde se <b>nepromítnou</b> do
            <a style="color: lightblue;" href="http://is.ufobal.cz">ostrého systému</a>.
        </div>
    {% endif %}

    <div ng-view></div>
</div>


<footer id="footer" class="fancy">
    Vytvořil <a href="mailto:thran@centrum.cz">Thran</a> & Wizy
</footer>

</div>

{% if GOOGLE_ANALYTICS %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70988642-1', 'auto');
      ga('send', 'pageview');
    </script>
{% else %}
    <script>ga = function(){}</script>
{% endif %}

<script>
    $(document).foundation();
    $('.top-bar li').click(function() {
        $('.top-bar, [data-topbar]').css('height', '').removeClass('expanded');
    });
</script>
</body>
</html>
